database.server-name = arthur.dev.iropke.cloud
database.database-name = arthur
database.user = arthur
database.password = arthur

rythm.base-directory = file:D:/project/webNovel/template/
rythm.mode = dev

logging.file = D:/project/webNovel/logs/error.log 
logging.level.com.arthur.webnovel = DEBUG
logging.level.org.springframework.web = DEBUG